<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brand">wanderlust private Limated</div>
        <div class="f-info-links"></div>
        <a href="/privacy">Privacy</a>
         <a href="/term">Terms</a>

    </div>
</footer>