<% layout('layouts/boilerplate') %>


<div class="container mt-5">
  <div class="alert alert-danger text-center shadow-lg rounded-3 p-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
         class="bi bi-exclamation-triangle mb-3" viewBox="0 0 16 16">
      <path d="M7.938 2.016a.13.13 0 0 1 .125 0l6.857 11.856c.03.052.05.11.05.17a.2.2 0 0 1-.2.2H2.23a.2.2 0 0 1-.2-.2c0-.06.02-.118.05-.17L8.937 2.016zM8 5c-.535 0-.954.462-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg>
    <h4 class="alert-heading mb-3"><%= message %></h4>
    <a href="/listings" class="btn btn-outline-light btn-sm">← Back to Listings</a>
  </div>
</div>
